ul {
    list-style-type: none;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0;
    overflow: hidden;
    background-color: #99ccff;
    width: 100%;
    font-family: verdana, serif;
}
header input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 32px;
    margin-bottom: 8px;
    border: none;
    font-size: 17px;
}
li {
    float: left;
}
li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover {
    text-align: center;
    background-color: #a6a6a6;
    color: white;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: left;
}
body {
    height: 125vh;
    background-image: url("../../public/images/pika.jpg");
    background-size: cover;
}
.button {
    background-color: #f44336;
    border: black;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button2 {background-color: #4CAF50}
.button3 {background-color: darkviolet}
.button4 {background-color: plum;
padding: 4px 4px;}


